# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly mark Python files
*.py text

# Treat JSON test vectors as text
*.json text

# Markdown and docs
*.md text
*.pdf binary

# Exclude compiled extension modules from diffing
*.pyd binary
*.cp*.pyd binary
